{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
        <title>Password Reset| Symox - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-body p-4"> 
        <div class="text-center mt-3">
            <div class="avatar-lg mx-auto">
                <div class="avatar-title rounded-circle bg-light">
                    <i class="bx bxs-envelope h2 mb-0 text-primary"></i>
                </div>
            </div>
            <div class="p-2 mt-4">
                <h4>Password Reset</h4>
                
                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                
            </div>
        </div>
        

    </div>
</div>
    
{% endblock %}
