{% extends "account/base_account.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
        <title>Password Reset| Symox - Minimal Admin & Dashboard Template</title>
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-body p-4"> 
        <div class="text-center">
            <h5 class="mb-0">Change Password</h5>
            <p class="text-muted mt-2">Change Password with symox.</p>
        </div>
        <div class="p-2 mt-4">
            <form method="POST" action="." novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                    <div class="mb-3 mt-4">
                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Reset Password</button>
                    </div>
                </form>
        </div>

    </div>
</div>
{% endblock %}

