{% load static %}
{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> &copy; Canary MDs.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Crafted with <i class="bx bxl-python text-danger"></i> by <a href="" target="_blank" class="text-reset">Gen Zero</a>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}
