{% extends 'partials/base.html' %}
{% load static %}

{% block head_title %}
<title> Course Delete | Canary MDs</title>
{% endblock %}

{% block content %}

<h1> Cancel Payment</h1>
<p>Delete Course </p>
<div class="col-9 align-self-center">
    <div class="grid-example mt-2 mt-sm-0">

        <div class="card">


            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="alert alert-info alert-dismissible alert-label-icon label-arrow fade show" role="alert">
                        <i class="mdi mdi-alert-circle-outline label-icon"></i><strong>Delete Course "{{ course.title }}"</strong> <br>
                        Are you Sure you want to Delete this course?

                        <a href="{% url "manage_course_list" %}" type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></a>
                    </div>

                    <div class="col-xl-4">

                        <div class="d-flex flex-wrap gap-2">

                            <input type="submit"
                                value="Confirm"
                                class="btn btn-warning waves-effect btn-label waves-light">
                                <i class="bx bx-error label-icon"></i>
                        

                        </div>
                    </div><!-- end col -->
                </form>
            </div><!-- end card-body -->

        </div><!-- end card -->

    </div><!-- end col -->
</div>
{% endblock %}