{% extends 'partials/base.html' %}
{% load static %}

{% block head_title%}
        <title>User Profile | Symox - Admin & Dashboard Template</title>
{% endblock %}

{% block content %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">User Profile</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Contacts</a></li>
                            <li class="breadcrumb-item active">User Profile</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row mb-4">
            <div class="col-xl-8">
                <div class="card mb-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#about" role="tab">
                                <i class="bx bx-user-circle font-size-20"></i>
                                <span class="d-none d-sm-block">About</span> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#update" role="tab">
                                <i class="bx bx-clipboard font-size-20"></i>
                                <span class="d-none d-sm-block">Update</span> 
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab">
                                <i class="bx bx-mail-send font-size-20"></i>
                                <span class="d-none d-sm-block">Messages</span>   
                            </a>
                        </li>
                    </ul>
                    <!-- Tab content -->
                    <div class="tab-content p-4">
                        <div class="tab-pane active" id="about" role="tabpanel">
                            <div>
                                <div>
                                    <h5 class="font-size-16 mb-4">Personal Info</h5>

                                    <ul class="activity-feed mb-0 ps-2">
                                        <li class="feed-item">
                                            <div class="feed-item-list">
                                                <p class="text-muted mb-1">2019 - 2020</p>
                                                <h5 class="font-size-15">UI/UX Designer</h5>
                                                <p>Abc Company</p>
                                                <p class="text-muted">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual</p>
                                            </div>
                                        </li>
                                        <li class="feed-item">
                                            <div class="feed-item-list">
                                                <p class="text-muted mb-1">2017 - 2019</p>
                                                <!-- <h5 class="font-size-15">Graphic Designer</h5>
                                                <p>xyz Company</p>
                                                <p class="text-muted">It will be as simple as occidental in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental </p> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                               
                            </div>
                        </div>
                        <div class="tab-pane" id="update" role="tabpanel">
                            <div class="mt-4 mt-xl-0">
                                    <h5 class="font-size-14 mb-4"><i class="mdi mdi-arrow-right text-primary me-1"></i> Form groups</h5>
                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label" for="formrow-bio-input">Bio</label>
                                            <input type="text" class="form-control" placeholder="Short note about self" id="formrow-bio-input">
                                        </div>

                                        <div class="mt-4">
                                            <label for="formFile" class="form-label">Upload Profile Image</label>
                                            <input class="form-control" type="file" id="formFile">
                                        </div>

                                        <div class="row">                                                            
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="formrow-city-input">City</label>
                                                    <input type="text" class="form-control" placeholder="Enter City" id="formrow-city-input">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="formrow-address-input">Address</label>
                                                    <input type="text" class="form-control" placeholder="Enter ADDRESS" id="formrow-address-input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">                                                            
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="formrow-dob-input">Date Of Birth</label>
                                                    <input type="date" class="form-control" placeholder="Enter Date of Birth" id="formrow-dob-input">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label" for="formrow-phone-input">Phone</label>
                                                    <input type="tel" class="form-control" placeholder="Enter Phone Number" id="formrow-phone-input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="formrow-profession-input">Profession</label>
                                            <select name="profession" id="formrow-profession-input" class="form-select">
                                                <option value="">Select</option>
                                                <option value="">Informatics</option>
                                                <option value="">Engineer</option>
                                                <option value="">Doctor</option>
                                            </select>
                                        </div>

                                        <!-- <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="formrow-customCheck">
                                            <label class="form-check-label" for="formrow-customCheck">Check me out</label>
                                        </div> -->
                                        
                                        <div class="mt-4">
                                            <button type="submit" class="btn btn-primary w-md">Submit</button>
                                        </div>
                                    </form>
                                </div>

                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <div>
                                <div >
                                    <div class="d-flex align-items-start border-bottom py-4">
                                        <div class="flex-shrink-0 me-2">
                                            <img class="rounded-circle avatar-sm" src="{% static 'images/users/avatar-3.jpg' %}" alt="avatar-3 images">
                                        </div>
                                        
                                        <div class="flex-grow-1">
                                            <h5 class="font-size-15 mb-1">Marion Walker <small class="text-muted float-end">1 hr ago</small></h5>
                                            <p class="text-muted">If several languages coalesce, the grammar of the resulting .</p>

                                            <a href="javascript: void(0);" class="text-muted font-13 d-inline-block"><i
                                                class="mdi mdi-reply"></i> Reply</a>

                                            <div class="d-flex align-items-start mt-4">
                                                <div class="flex-shrink-0 me-2">
                                                    <img class="rounded-circle avatar-sm" src="{% static 'images/users/avatar-4.jpg' %}" alt="avatar-4 images">
                                                </div>
                                                
                                                <div class="flex-grow-1">
                                                    <h5 class="font-size-15 mb-1">Shanon Marvin <small class="text-muted float-end">1 hr ago</small></h5>
                                                    <p class="text-muted">It will be as simple as in fact, it will be Occidental. To it will seem like simplified .</p>

                                                    
                                                    <a href="javascript: void(0);" class="text-muted font-13 d-inline-block">
                                                        <i class="mdi mdi-reply"></i> Reply
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   

                                   
                                </div>

                                <div class="border rounded mt-4">
                                    <form action="#">
                                        <div class="px-2 py-1 bg-light">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="bx bx-link"></i></button>
                                                <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="bx bx-smile"></i></button>
                                                <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="bx bx-at"></i></button>
                                            </div>
                                        </div>
                                        <textarea rows="3" class="form-control border-0 resize-none" placeholder="Your Message..."></textarea>
                                    </form>
                                </div> <!-- end .border-->
                                <div class="text-end mt-3">
                                    <button type="button" class="btn btn-success w-sm text-truncate ms-2"> Send <i class="bx bx-send ms-2 align-middle"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card overflow-hidden">
                    <div class="profile-user"></div>
                    <div class="card-body">
                        <div class="profile-content text-center">
                            <div class="profile-user-img">
                                <img src="{% static 'images/users/avatar-1.jpg' %}" alt="" class="avatar-lg rounded-circle img-thumbnail">
                            </div>
                            <h5 class="mt-3 mb-1">Peter Kelsey!</h5>
                            <p class="text-muted">UI/UX Designer</p>
                            <p class="text-muted mb-1">
                                Hi I'm Peter Kelsey!,has been the industry's standard dummy text To an English person, 
                                it will seem like simplified English, as a skeptical Cambridge.</p>
                        </div>
                        
                    </div>
                </div>

                
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock %}

