{% extends 'partials/base.html' %}
{% load static %}

{% block head_title%}
        <title>Create Content | CanaryMDs - Admin</title>
{% endblock %}
{% block extra_css %}
    <!-- choices css -->
    <link href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="{% static 'libs/dropzone/dropzone.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Add Content</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Courses</a></li>
                            <li class="breadcrumb-item active">Add Course</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div id="addproduct-accordion" class="custom-accordion">

                    <div class="card">
                        {% if object %}
                            <a href="#addproduct-productinfo-collapse" class="text-dark" data-bs-toggle="collapse" aria-expanded="true" aria-controls="addproduct-productinfo-collapse">
                                <div class="p-4">
                                    
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                    01
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="font-size-16 mb-1">Edit Content "{{ object.title }}" </h5>
                                            <p class="text-muted text-truncate mb-0">"{{ object.title }}"</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </a>
                        {% else %}
                                <a href="#addproduct-productinfo-collapse" class="text-dark" data-bs-toggle="collapse" aria-expanded="true" aria-controls="addproduct-productinfo-collapse">
                                <div class="p-4">
                                    
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm">
                                                <div class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                    01
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-grow-1 overflow-hidden">
                                            <h5 class="font-size-16 mb-1">New Content</h5>
                                            <p class="text-muted text-truncate mb-0">Create New Content</p>
                                        </div>
                                        <div class="flex-shrink-0">
                                            <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </a>
                        {% endif %}

                         <h1>
                            {% if object %}
                            Edit content "{{ object.title }}"
                            {% else %}
                            Create a new content
                            {% endif %}
                        </h1>

                        <div id="addproduct-productinfo-collapse" class="collapse show" data-bs-parent="#addproduct-accordion">
                            <div class="p-4 border-top">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {{ form.as_p }}
                                    {% csrf_token %}
                                    <!-- <div class="mb-3">
                                        <label class="form-label" for="productname">Course Title</label>
                                        <input id="coursetitle" name="coursetitle" placeholder="Enter Product Name" type="text" class="form-control">
                                    </div> -->
                                    
                                    <div class="row mb-4">
                                        <div class="col text-end">
                                            <a href="#" class="btn btn-danger"> <i class="bx bx-x me-1"></i> Cancel </a>
                                            <input type="submit" value="Save Content" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-btn"> <i class=" bx bx-file me-1"></i> </a>
                                        </div> <!-- end col -->
                                    </div> <!-- end row-->
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    
        

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock %}
{% block extra_javascript %}

        <!-- choices js -->
        <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

        <!-- dropzone plugin -->
        <script src="{% static 'libs/dropzone/dropzone.js' %}"></script>

         <!-- init js -->
         <script src="{% static 'js/pages/ecommerce-choices.init.js' %}"></script>
{% endblock extra_javascript %}

