{% extends 'partials/base.html' %}
{% load static %}

{% block head_title %}
    <title> Payment Process | Bishatheru</title>
{% endblock %}

{% block content %}

 <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Contextual classes</h4>
                        <p class="card-title-desc">Use contextual classes to color table rows or individual cells.</p>  
                    </div>
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>

                                    </tr>
                                </thead>
                                <tbody>

                                   

                                    <tr class="table-info">
                                        <th scope="row">3</th>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        <td>Column content</td>
                                        
                                    </tr>

                                   
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
            
        </div>

{% endblock %}