{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
        <title>Payment Process | Canary MDs</title>
{% endblock %}

{% block content %}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Checkout Process</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li>
                            <li class="breadcrumb-item active">Checkout Page</li>
                        </ol>
                    </div>

                    
                </div>
            </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <!-- <th>#</th> -->
                                        <th>Image</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order.items.all %}
                                        <tr class="row{% cycle "1" "2" %}">
                                            <!-- <th scope="row">1</th> -->
                                            <div class="flex-shrink-0 me-3">
                                                <td>
                                                    <img class="rounded avatar-md" src="{% if item.product.image %}{{ item.product.image.url}}
                                                    {% else %}{% static "img/no_image.png" %}{% endif %}" >
                                                </td>
                                            </div>
                                            <td> {{ item.product.name }}</td>
                                            <td class="num"> ${{ item.price }} </td>
                                            <td class="num"> {{ item.quantity }} </td>
                                            <td class="num"> ${{item.get_cost }} </td>
                                        
                                        </tr>
                                   {% endfor %}

                                   {% if order.coupon %}
                                    <tr class="subtotal">
                                        <td>Subtotal</td>
                                        <td colspan="3"></td>
                                        <td class="num">
                                        ${{ order.get_total_cost_before_discount|floatformat:2 }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        "{{ order.coupon.code }}" coupon
                                        ({{ order.discount }}% off)
                                        </td>
                                        <td colspan="3"></td>
                                        <td class="num neg">
                                        - ${{ order.get_discount|floatformat:2 }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                   <tr class="total">
                                    <td colspan="4"> Total </td>
                                    <td class="num"> ${{ order.get_total_cost }} </td>

                                   </tr>
                                </tbody>
                            </table>

                            <div class="card-body">
                                <form  action="{% url "payment:process" %}" method="post">
                                    <input class="btn btn-warning waves-effect waves-light" type="submit" value="Pay Now">
                                    {% csrf_token %}

                                </form>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <!-- end page title -->
        
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock %}
