{% extends 'partials/base.html' %}
{% load static %}

{% block head_title%}
        <title>Invoice List | Symox - Admin & Dashboard Template</title>
{% endblock %}
{% block extra_css %}
        <!-- gridjs css -->
        <link rel="stylesheet" href="{% static 'libs/gridjs/dist/theme/mermaid.min.css' %}">

        <!-- flatpickr css -->
        <link href="{% static 'libs/flatpickr/dist/flatpickr.min.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}



{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Order Detail</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                            <li class="breadcrumb-item active">Order Detail</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="invoice-title">
                            <h4 class="float-end font-size-15">Order {{order.id}} <span class="badge bg-success font-size-12 ms-2">{{order.paid}}</span></h4>
                            <div class="mb-4">
                                <img src="{% static 'images/logo-sm.png' %}" alt="logo" height="28"/>
                            </div>
                            <div class="text-muted">
                                <p class="mb-1">3184 Canary Meta Data Inc, NHY 15201</p>
                                <p class="mb-1"><i class="mdi mdi-email-outline me-1"></i> canarymetadata.com</p>
                                <p><i class="mdi mdi-phone-outline me-1"></i> 07-1782-8930</p>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="text-muted">
                                    <h5 class="font-size-16 mb-3">Bill to:</h5>
                                    <h5 class="font-size-15 mb-2"> {{order.first_name}} {{order.last_name}} </h5>
                                    <p class="mb-1"> {{order.postal_code}}, {{order.city}} </p>
                                    <p class="mb-1"> {{order.address}} </p>
                                    <p>001-234-5678</p>
                                </div>
                            </div>
                            <!-- end col -->
                            <div class="col-sm-6">
                                <div class="text-muted text-sm-end">
                                    <div>
                                        <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                        <p> {{order.id}} </p>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="font-size-15 mb-1"> Date:</h5>
                                        <p> {{order.created|date:"M d, Y"}} </p>
                                    </div>
                                    <div class="mt-4">
                                        <h5 class="font-size-15 mb-1">Order No:</h5>
                                        <p>#1123456</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                        
                        <div class="py-2">
                            <h5 class="font-size-15">Order Summary</h5>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th class="fw-bold" style="width: 70px;">No</th>
                                            <th class="fw-bold">Product</th>
                                            <th class="fw-bold">Price</th>
                                            <th class="fw-bold">Quantity</th>
                                            <th class="text-end fw-bold" style="width: 120px;">Total</th>
                                        </tr>
                                    </thead><!-- end thead -->
                                    <tbody>
                                        {% for item in order.items.all %}
                                            <tr>
                                                <th scope="row">01</th>
                                                <td>
                                                    <div>
                                                        <h5 class="text-truncate font-size-14 mb-1"> {{item.product.name}} </h5>
                                                        <p class="text-muted mb-0"> {{item.product.name}} k</p>
                                                    </div>
                                                </td>
                                                <td>$ {{item.price}} </td>
                                                <td> {{item.quantity}} </td>
                                                <td class="text-end">$ {{item.get_cost}} </td>
                                            </tr>
                                        {% endfor %}
                                        <!-- end tr -->
                                        
                                        <tr>
                                            <th scope="row" colspan="4" class="text-end fw-bold">Sub Total</th>
                                            <td class="text-end">$ {{order.get_total_cost}} </td>
                                        </tr>
                                       
                                        <tr>
                                            <th scope="row" colspan="4" class="border-0 text-end fw-bold">Total</th>
                                            <td class="border-0 text-end"><h4 class="m-0 fw-semibold">$ {{order.get_total_cost}} </h4></td>
                                        </tr>
                                        <!-- end tr -->
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->

                                <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
                                    {% if order.paid %} Paid{% else %}Pending payment {% endif %}
                                </span>
                            </div><!-- end table responsive -->
                            <div class="d-print-none mt-4">
                                <div class="float-end">
                                    <a href="javascript:window.print()" class="btn btn-success me-1"><i class="fa fa-print"></i></a>
                                    <a href="#" class="btn btn-primary w-md">Send</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->

    </div> <!-- container-fluid -->
</div>


{% endblock %}