{% extends 'partials/base.html' %}
{% load static %}

{% block head_title%}
        <title>Blog | {{post.title}}</title>
{% endblock %}

{% block extra_css %}
 <!-- swiper css -->
 <link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Blog Detail</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Blog</a></li>
                            <li class="breadcrumb-item active">Blog Detail</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                           
                            <div class="col-xl-12">
                                <div class="mt-4 mt-xl-3 ps-xl-4">
                                    <h5 class="font-size-14"><a href="#" class="text-muted">{{ post.title }}</a></h5>
                                    <h4 class="font-size-20 mb-3">{{ post.title }} </h4>

                                    <div class="text-muted">
                                        <span class="badge bg-success font-size-14 me-1"><i class="mdi mdi-star"></i> {{post.author}} </span> {{post.publish}}
                                    </div>

                                    <h5 class="mt-4 pt-2"> <span class="text-danger font-size-14 ms-2">- Politica | Literature</span></h5>

                                    <p class="mt-4 text-muted">{{ post.body|linebreaks }}</p>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-8">
                                <div class="mt-4 pt-3">
                                    <h5 class="font-size-14 mb-3">Comments : </h5>

                                    {% with comments.count as total_comments %}
                                    <div class="text-muted mb-3">
                                        <span class="badge bg-success font-size-14 me-1"><i class="mdi mdi-star"></i> 4.2</span> {{total_comments}}
                                    </div>
                                    {% endwith %}

                                    <div class="border py-4 rounded">

                                        <div class="px-4" data-simplebar style="max-height: 260px;">

                                            {% for comment in comments %}
                                            <div class="border-bottom pb-3">
                                                <p class="float-sm-end text-muted font-size-13">{{comment.created}}</p>
                                                <div class="badge bg-success mb-2"><i class="mdi mdi-star"></i> {{comment.name}} </div>
                                                <p class="text-muted mb-4"> {{comment.body | linebreaks}} </p>
                                                <div class="d-flex align-items-start">
                                                    

                                                    <div class="flex-shrink-0">
                                                        <ul class="list-inline product-review-link mb-0">
                                                            <li class="list-inline-item">
                                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Like"><i class="bx bx-like"></i></a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a href="#"  data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Comment"><i class="bx bx-comment-dots"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                {% empty %}
                                                <p> There are no comments </p>
                                                
                                            </div>
                                            {% endfor %}

                                        
                                        </div>

                                       

                                    </div>
                                   <div class="px-4">
                                            <div class="border rounded mt-4">
                                                <form action="{% url "blog:post_comment" post.id %}" method="post">
                                                    <div class="px-2 py-1 bg-light">
                                                        <div class="btn-group" role="group">
                                                            <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="bx bx-link"></i></button>
                                                            <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="bx bx-smile"></i></button>
                                                            <button type="button" class="btn btn-sm btn-link text-dark text-decoration-none"><i class="bx bx-at"></i></button>
                                                        </div>
                                                    </div>

                                                    {{ form }}
                                                    {% csrf_token %}

                                                    <div class="text-end mt-3">
                                                        <input type="submit" class="btn btn-success w-sm text-truncate ms-2"> 
                                                    </div>
                                                </form>
                                            </div>

                                            
                                        </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-4 pt-3">
                                    <h5 class="font-size-14 mb-3">Product description: </h5>
                                    <div class="product-desc">
                                        <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                            <li class="nav-item">
                                              <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab">Description</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link active" id="specifi-tab" data-bs-toggle="tab" href="#specifi" role="tab">Specifications</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content border border-top-0 p-4">
                                            <div class="tab-pane fade" id="desc" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div>
                                                            <img src="{% static 'images/product/img-6.png' %}" alt="" class="img-fluid mx-auto d-block">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="text-muted">
                                                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular</p>
                                                            <p>It will be as simple as occidental in fact.</p>

                                                            <div>
                                                                <ul class="list-unstyled product-desc-list text-muted mb-0">
                                                                    <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Sed ut perspiciatis omnis iste</li>
                                                                    <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Neque porro quisquam est</li>
                                                                    <li><i class="mdi mdi-circle-medium me-1 align-middle"></i> Quis autem vel eum iure</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade show active" id="specifi" role="tabpanel">
                                                <div class="table-responsive">
                                                    <table class="table table-nowrap mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th scope="row" style="width: 50%;"><b>Category :</b></th>
                                                                <td>Shoes</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"><b>Brand :</b></th>
                                                                <td>Nike</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"><b>Color :</b></th>
                                                                <td>Gray</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"><b>Quality :</b></th>
                                                                <td>High</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"><b>Material :</b></th>
                                                                <td>Leather</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!-- sample modal content -->

{% endblock %}
{% block extra_javascript %}
    <!-- swiper js -->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-product-detail.init.js' %}"></script>
{% endblock extra_javascript %}
