{% extends 'partials/base.html' %}
{% load static %}

{% block head_title%}
<title>Cart | Symox - Admin & Dashboard Template</title>
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0">Cart</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                            <li class="breadcrumb-item active">Cart</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <!-- end page title -->
        <div class="row">
            <div class="col-xl-8">

                {% for item in cart %}
                {% with product=item.product %}
                <div class="card border shadow-none">



                    <div class="card-body">

                        <div class="d-flex align-items-start border-bottom pb-3">
                            <div class="me-4">
                                <img src="{{ product.image.url }}" alt="" class="avatar-lg">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate font-size-16"><a href="{{ product.get_absolute_url}}"
                                            class="text-dark">{{ product.name }}</a></h5>
                                    <p class="mb-1">Color : <span class="fw-medium">Gray</span></p>
                                    <p>Size : <span class="fw-medium">08</span></p>
                                </div>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                                <ul class="list-inline mb-0 font-size-16">
                                    <li class="list-inline-item">
                                        <form action="{% url "cart:cart_remove" product.id %}" method="post"
                                            class="text-muted px-1">
                                            <input type="submit" value="Remove" class="mdi mdi-trash-can-outline">
                                            {% csrf_token %}
                                        </form>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="mdi mdi-heart-outline"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Quantity</p>
                                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.override }}
                                            <input type="submit" value="update">
                                            {% csrf_token %}

                                        </form>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Price</p>
                                        <h5 class="font-size-16">$ {{ item.price }}</h5>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="mt-3">
                                        <p class="text-muted mb-2">Total</p>
                                        <h5 class="font-size-16">$ {{ item.total_price }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                {% endwith %}
                {% endfor %}


                <div class="row my-4">
                    <div class="col-sm-6">
                        <a href="{% url 'shop:product_list' %}" class="btn btn-link text-muted">
                            <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                    </div> <!-- end col -->

                    <div class="col-sm-6">
                        <div class="text-sm-end mt-2 mt-sm-0">
                            <a href="{% url "orders:order_create" %}" class="btn btn-success">
                                <i class="mdi mdi-cart-outline me-1"></i> Checkout </a>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row-->
            </div>

            <div class="col-xl-4">
                <div class="mt-5 mt-lg-0">
                    <div class="card border shadow-none">
                        <div class="card-header bg-transparent border-bottom py-3 px-4">
                            <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                        </div>
                        <div class="card-body p-4">

                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <tbody>
                                        {% if cart.coupon %}
                                        <tr>
                                            <td>Sub Total :</td>
                                            <td class="text-end">$ {{ cart.get_total_price|floatformat:2 }} </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                "{{ cart.coupon.code }}" coupon
                                                ({{ cart.coupon.discount }}% off):
                                            </td>
                                            <!-- <td class="text-end">$ 0</td> -->
                                        </tr>
                                        <tr>
                                            <td>Estimated Discount : </td>
                                            <td class="text-end">-$ {{ cart.get_discount|floatformat:2 }} </td>
                                        </tr>
                                        {% endif %}
                                        <tr class="bg-light">
                                            <th>Total :</th>
                                            <td class="text-end">
                                                <span class="fw-bold">
                                                    $ {{ cart.get_total_price_after_discount|floatformat:2 }}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="mt-3">

                                    <h5 class="font-size-14 mb-3"><i
                                            class="bx bx-map-pin font-size-20 text-primary align-middle me-2"></i>
                                       Apply A Coupon</h5>

                                    <div class="d-inline-flex">

                                        <form action="{% url "coupons:apply" %}" method="post">
                                            {% csrf_token %}
                                            <div class="input-group mb-3">

                                                {{coupon_apply_form.code}}

                                                <button class="btn btn-light" type="submit">
                                                    Apply
                                                </button>

                                            </div>
                                        </form>

                                    </div>

                                </div>
                               

                                <div class="col-sm-12">
                                    <div class="text-sm-end mt-2 mt-sm-0">
                                        <a href="{% url "orders:order_create" %}" class="btn btn-success">
                                            <i class="mdi mdi-cart-outline me-1"></i> Continue to Payment </a>
                                    </div>
                                </div>

                            </div>
                            <!-- end table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        
        <div class="row">


            <div class="col-xl-9 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <h5>Showing result for "Shoes"</h5>
                                        <ol class="breadcrumb p-0 bg-transparent mb-2">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Footwear</a></li>
                                            <li class="breadcrumb-item active">Shoes</li>
                                        </ol>
                                    </div>
                                </div>


                            </div>


                            <div class="tab-content p-3 text-muted">
                                <div class="tab-pane active" id="popularity" role="tabpanel">
                                    <div class="row">
                                        {% if recommended_products %}
                                        {% for p in recommended_products %}

                                        <div class="col-xl-4 col-sm-6">
                                            <div class="product-box">
                                                <div class="product-ribbon">
                                                    - 20 %
                                                </div>
                                                <div class="product-img pt-4 px-4">
                                                    <div class="product-wishlist">
                                                        <a href="#">
                                                            <i class="mdi mdi-heart-outline"></i>
                                                        </a>
                                                    </div>
                                                    <img src="{% if product.image %}
                                                        {{ p.image.url }} 
                                                        {% else %} {% static 'images/404-img.png' %}
                                                        {% endif %}" alt="" class="img-fluid mx-auto d-block">
                                                </div>

                                                <div class="product-content p-4">

                                                    <div class="d-flex justify-content-between align-items-end">
                                                        <div>
                                                            <h5 class="mb-1"><a href="{{ p.get_absolute_url }}"
                                                                    class="text-dark font-size-16">{{ p.name }}</a>
                                                            </h5>
                                                            <p class="text-muted font-size-13">Gray, Shoes</p>
                                                            <h5 class="mt-3 mb-0"><span
                                                                    class="text-muted me-2"><del>$280</del></span>
                                                                ${{product.price}}</h5>
                                                        </div>

                                                        <div>
                                                            <ul class="list-inline mb-0 text-muted product-color">
                                                                <li class="list-inline-item">
                                                                    Colors :
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <i class="mdi mdi-circle text-dark"></i>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <i class="mdi mdi-circle text-light"></i>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <i class="mdi mdi-circle text-primary"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}

                                    </div>
                                </div>
                                <!-- end row -->
                            </div>


                            <div class="tab-pane" id="discount" role="tabpanel">
                                <div class="row">
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="product-box">
                                            <div class="product-ribbon">
                                                - 20 %
                                            </div>
                                            <div class="product-img pt-4 px-4">
                                                <div class="product-wishlist">
                                                    <a href="#">
                                                        <i class="mdi mdi-heart-outline"></i>
                                                    </a>
                                                </div>
                                                <img src="{% static 'images/product/img-1.png' %}" alt=""
                                                    class="img-fluid mx-auto d-block">
                                            </div>

                                            <div class="product-content p-4">

                                                <div class="d-flex justify-content-between align-items-end">
                                                    <div>
                                                        <h5 class="mb-1"><a href="ecommerce-product-detail.html"
                                                                class="text-dark font-size-16">Nike N012 Shoes</a></h5>
                                                        <p class="text-muted font-size-13">Gray, Shoes</p>
                                                        <h5 class="mt-3 mb-0"><span
                                                                class="text-muted me-2"><del>$280</del></span> $260</h5>
                                                    </div>

                                                    <div>
                                                        <ul class="list-inline mb-0 text-muted product-color">
                                                            <li class="list-inline-item">
                                                                Colors :
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <i class="mdi mdi-circle text-dark"></i>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <i class="mdi mdi-circle text-light"></i>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <i class="mdi mdi-circle text-primary"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end row -->
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
{% endblock %}